body {
  text-align: center;
  padding: 3px;
  margin: auto;
  background-color: #dae2ef;
  font-family: 'Patrick Hand SC', cursive;
  transition: all 0.4 ease;
  font-size: 1.4em;
}
.btn {
  font-size: 1.5em;
}
h1 {
  font-size: 2em;
}
.boxy {
  
  padding: .5em;
  display: block;
  float: center;
  min-width: 200px;
  margin: 1em;
  
}

button:hover {
 background-color: #fbffe5;
 color: black;
}

.btn-primary {
  background: #214451;
  border: 0px;
  font-family: 'Patrick Hand SC', cursive;
}
.btn-info {
  background: #995761;
  border: 0px;
  font-family: 'Patrick Hand SC', cursive;
}
.btn-info:hover, .btn-primary:hover {
  background: #fbffe5;
  color: black;
}
