body {
  text-align: center;
  padding: 3px;
  margin: auto;
  background-color: #dae2ef;
  font-family: 'Patrick Hand SC', cursive;
  transition: all 0.4 ease;
  font-size: 8vw;
}
.btn {
  font-size: 3vh;
}
h1 {
  font-size: 16min;
}
.boxy {
  
  padding: .5em;
  display: block;
  float: center;
  min-width: 200px;
  margin: 1em;
  
}

button:hover {
 background-color: #fbffe5;
 color: black;
}
.spinny {
  margin: auto;
  width: 50px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
.spinny:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.btn-primary {
  background: #214451;
  border: 0px;
  font-family: 'Patrick Hand SC', cursive;
}
.btn-info {
  background: #995761;
  border: 0px;
  font-family: 'Patrick Hand SC', cursive;
}
.btn-info:hover {
  background: #fbffe5;
  color: white;
}
